:root{
    --cor_principal: #483D8B;
    --cor_secunda: #7B68EE;
    --cor_btn: #9370DB;
    --cor_fundo: #ffffffaf;
  }
  
  body{
      background-color: var(--cor_fundo);
      padding: 0;
      margin: 0;
  }
  
  .rodape{
      position: relative;
      bottom: 0;
      left: 0;
      width: 100%;
      color:var(--cor_secunda);
      text-align: center;
      padding: 10px 0;
  }
  
  .desgreaca{
      display: block;
      height: 90px;
  }
  
  /*Login BEGIN*/

  /* DIV */
  .corpoLogin {
    position: flex;
    box-shadow: 3px 6px 8px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 550px;
    height: 300px;
    align-items: center;
    margin-left: 35.5%;
  }

  #txtLogin{
    text-align: center;
  }

  /* Input ou botão */
  .infoLogin {
    margin-left: 32%;
  }

  .acessarLogin {
    margin-left: 42%;
  }

  /* TXT */

  h1.TitleG {
    text-align: center;
  }
  
  h3.TitleS {
    text-align: center;
  }

  p.subTitleG {
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
  }
  
  p.leitura {
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
  }
  /*Login END*/

  /*rodape GERAL BEGIN*/
  /*rodapeSocial*/

  *footer.footerContainer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .footerContainer{
    background-color: var(--cor_principal);
  }
  
  .containerRodape{
    width: 100%;
    box-shadow: 0px -1px 6px 0px rgba(0,0,0, 0.1);
    padding: 5px 15px 15px;
  }
  
  .rodapeSocial{
    display: flex;
    justify-content: center;
  }
  
  .rodapeSocial a{
    text-decoration: none;
    padding: 10px;
    background-color: var(--cor_secunda);
    margin: 10px;
    border-radius: 50%;
  }
  
  .rodapeSocial a i{
    font-size: 2em;
    color: var(--cor_fundo);
  }

  /*rodapeHB*/

  .rodapeHB {
    margin: 30px 0;
    display: flex;
    justify-content: center;
  }

  /*rodapeHover*/

  .rodapeSocial a:hover{
    background-color: var(--cor_principal);
    transition: 0.5s;
  }
  
  .rodapeSocial a:hover{
    color: var(--cor_fundo);
    transition: 0s;
  }
  
  .rodapeHB > p{
    font-size: 24px;
  }
  /*rodape GERAL END*/