:root{
    --cor_fundo: #f0f0d8;
    --cor_header: #604848;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor_fundo);
}

header{
    background-color: var(--cor_header);
    text-align: center;
}

main{
    background-color: var(--cor_fundo);
}

footer{
    background-color:  var(--cor_header);
}

h1{ 
    color: #ECDBB6;
}