:root{
    --cor_fundo: #f0f0d8;
    --cor_header: #604848;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor_fundo);
    overflow:hidden;
}

/* Header Start*/

header{
    background-color: var(--cor_header);
    padding: 2rem;
}

/* Nav */

nav{
    text-align: Center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a{
    text-decoration: none;
    text-align: center;
    font-size: 18pt;
    color: whitesmoke;
    padding: 12px 70px 10px 0px;
    position: relative;  
}

nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom:0;
    left:0;
    transition: 0.8s ease-in-out;
}

nav a:hover::after{
    width:80%;

}

#foto-perfil{
    width:30px;
    height:30px;
    border-radius: 100px;
    margin-right: 9px;
}

#Div-login{
  align-content: center; 

}

/*Fim Nav*/

/*Header End*/

/* Body Start */

main{
    display: flex;
    padding: 3rem;
    gap:100px;
    height:100vhd;
}

.Slider-background{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.slide{
    position:absolute;
    top: 0;
    left: 0;
    background-size: cover ;

}

section{
    border:3px solid black;
    padding: 1.3rem;
    width: 100%;
    height: 100%;
    display: flex;
    padding:2px;

}

.card{
    height: 5rem;
    width: 3rem;
}

/* Body End */

footer{
    background-color:  var(--cor_header);
    text-align: center;
    padding: 2rem;
    position:relative;
    bottom:0;
    width:100%;
}

h1{ 
    color: #ECDBB6;
}






    

