:root{
    --cor_fundo: #f0f0d8;
    --cor_header: #604848;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor_fundo);
}

header{
    background-color: var(--cor_header);
    padding: 2rem;
}

main{
    display: flex;
    padding: 3rem;
    gap:100px;
    height:100vhd;
}

footer{
    background-color:  var(--cor_header);
    text-align: center;
    padding: 2rem;
    position:absolute;
    bottom:0;
    width:100%;
}

h1{ 
    color: #ECDBB6;
}


section{
    border:3px solid black;
    padding: 12px;
    width: 3fr;
}

/* Nav */

nav{
    text-align: Center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a{
    text-decoration: none;
    text-align: end;
    font-size: 18pt;
    color: #fff;
    padding: 12px 70px 10px 0px;
    position: relative;  
}

nav a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-color: aliceblue;
    position: absolute;
    bottom:0;
    left:0;
    transition: 0.5s ease-in-out;
}

nav a:hover::after{
    width:80%;

}

/*Fim Nav*/

#foto-perfil{
    width:30px;
    height:30px;
    border-radius: 100px;
    margin-right: 9px;
}

#Div-login{
  align-content: center; 

}

    

