{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/geral.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/logs.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Loja Virtual</title>
</head>
<body>
    <header>      

        <div class="Nav-box">

            <div class="search-box">

                <a href=""><i class="fa fa-search" id="lupa"></i></a>
                <input type="search" name="" class="search" placeholder="Search . . . . .">

            </div>

            <nav>
                <a href="paginas\Produtos\favoritos.html"><i class="fa fa-heart"></i> Favoritos</a>
                <a href=""><i class="fa fa-shopping-cart"></i> Carrinho</a>
                <a href=""><i class="fa fa-wrench"></i> Produtor</a>
                <a href="{% url 'login'  %}"><i class="fa fa-user-circle"></i> Entrar ou Cadastrar</a>
                <a href=""><i class="fa fa-bars"></i> Menu</a>
                <a href="{% url 'logout' %}">Sair</a>
            </nav>

        </div>
        

    </header>

    <div class="Slider-box">
        <div class="slider">
            <img src="imagens\images.png" alt="">
            <img src="imagens\images.png" alt="">
            <img src="imagens\images.png" alt="">
        </div>
    </div>

     <main>

        <section class="produtos-destaque">
            <h2>Produtos em Destaque</h2>
            <div class="grid-produtos">
                <div class="produto">
                    <img src="imagens/images.png" alt="Produto 1">
                    <h3>Produto 1</h3>
                    <p>Descrição do produto 1.</p>
                    <div class="preco">R$ 00,00</div>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="imagens/images.png" alt="Produto 2">
                    <h3>Produto 2</h3>
                    <p>Descrição do produto 2.</p>
                    <div class="preco">R$ 00,00</div>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="imagens/images.png" alt="Produto 3">
                    <h3>Produto 3</h3>
                    <p>Descrição do produto 3.</p>
                    <div class="preco">R$ 000,00</div>
                    <button>Comprar</button>
                </div>
                <div class="produto">
                    <img src="imagens/images.png" alt="Produto 4">
                    <h3>Produto 4</h3>
                    <p>Descrição do produto 4.</p>
                    <div class="preco">R$ 0.000,00</div>
                    <button>Comprar</button>
                </div>
            </div>
        </section>

        <!--Products Category-->
        <section class="categorias">
            <div class="topo-categorias">
                <h2>Categorias</h2>
                <a href="#">Mostrar todas as categorias</a>
            </div>
        
            <div class="grid-categorias">
                <div class="categoria-item">
                    <img src="imagens/images.png" alt="Exemplo">
                    <span>INSIRA O PRODUTO</span>
                </div>
                <div class="categoria-item">
                    <img src="imagens/images.png" alt="Exemplo">
                    <span>INSIRA O PRODUTO</span>
                </div>
                <div class="categoria-item">
                    <img src="imagens/images.png" alt="Exemplo">
                    <span>INSIRA O PRODUTO</span>
                </div>
                <div class="categoria-item">
                    <img src="imagens/images.png" alt="Exemplo">
                    <span>INSIRA O PRODUTO</span>
                </div>
                <div class="categoria-item">
                    <img src="imagens/images.png" alt="Exemplo">
                    <span>INSIRA O PRODUTO</span>
                </div>
                <div class="categoria-item">
                    <img src="imagens/images.png" alt="Exemplo">
                    <span>INSIRA O PRODUTO</span>
                </div>
                <div class="categoria-item">
                    <img src="imagens/images.png" alt="Exemplo">
                    <span>INSIRA O PRODUTO</span>
                </div>
                <div class="categoria-item">
                    <img src="imagens/images.png" alt="Exemplo">
                    <span>INSIRA O PRODUTO</span>
                </div>
                <div class="categoria-item">
                    <img src="imagens/images.png" alt="Exemplo">
                    <span>INSIRA O PRODUTO</span>
                </div>
                <div class="categoria-item">
                    <img src="imagens/images.png" alt="Exemplo">
                    <span>INSIRA O PRODUTO</span>
                </div>
                <div class="categoria-item">
                    <img src="imagens/images.png" alt="Exemplo">
                    <span>INSIRA O PRODUTO</span>
                </div>
                <div class="categoria-item">
                    <img src="imagens/images.png" alt="Exemplo">
                    <span>INSIRA O PRODUTO</span>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="box-item">

            <div class="info footer1">1</div>
            <div class="info footer2">2</div>
            <div class="info footer3">3</div>
            <div class="info footer4">4</div>

        </div>
    </footer>
    
</body>
</html>
