{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loja Virtual - Cadastre-se</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/geral.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/logs.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'js/geral.js' %}">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
</head>
<body>
  <main>
    <h1 class="TitleG">BEM VINDO á Yggdrasil E-Commerce<br>Cadastre-se</h1>
    <div id="corpoLogs">

            <h3 class="TitleS">Insira suas Informações para cadastrar na "Yggdrasil"</h3>
            <br>
            <form action="cadastro.php" method="post">
                <table class="cadastro">
                  {% csrf_token %}
                    <tr>
                        <td colspan="2" style="text-align:center;"><strong>Cadastro</strong></td>
                    </tr>
                    <tr>
                        <td>Usuário:</td>
                        <td><input id="userName" type="text" name="username" placeholder="Usuário"></td>
                    </tr>
                    <tr>
                        <td>CPF:</td>
                        <td><input id="cpf" type="text" name="cpf" placeholder="000.000.000-00" required></td>
                    </tr>
                    <tr>
                        <td>CEP:</td>
                        <td><input id="cep" type="text" name="cpf" placeholder="00000-000" required></td>
                    </tr>
                    <tr>
                        <td>Data de Nascimento:</td>
                        <td><input id="birthDate" type="date" name="data_nascimento" required></td>
                    </tr>
                    <tr>
                        <td>Telefone:</td>
                        <td><input id="phoneNumber" type="text" name="phoneNumber" placeholder="(99)99000-0000" maxlength="13" /></td>
                    </tr>
                    <tr>
                        <td>E-Mail:</td>
                        <td><input id="email" type="email" name="email" placeholder="Email"></td>
                    </tr>
                    <tr>
                        <td>Senha:</td>
                        <td><input id="password" type="password" name="senha" placeholder="Senha"></td>
                    </tr>
                    <tr>
                        <td>Confirme sua Senha:</td>
                        <td><input id="passwordConfirm" type="password" name="confirmar_senha" placeholder="Confirmar Senha"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Cadastrar">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                          <div class="link">
                            <p class="leitura">Já tem conta?<a href="{% url 'login' %}"> Faça login</a></p>
                          </div>
                        </td>
                    </tr>
                </table>
                {% if messages %}
                {% for message in messages %}
                <div class="error">{{ message }}</div>
                {% endfor %}
                {% endif %}
            </form>  
        </div>
    </div>
</main>
<script>
 $('#cep').mask('00000-000');
 $('#phoneNumber').mask('(00) 00000-0000');
 $('#cpf').mask('000.000.000-00', {reverse: true});
</script>
    <footer>
        <h1>footer</h1>
    </footer>
</body>
</html>