* {
  box-sizing: border-box;
}

/* Coloca 4 colunas lado a lado(mas quero so 3 por linha) */
.coluna {
  float: left;
  margin-left: 6%;
  width: 25%;
  padding: 8px 8px;
}
.colunaSair {
  float: left;
  margin-left: 37%;
  width: 25%;
  padding: 8px 8px;
}


/* Remove o lado esquerdo e direito extra */
.linha {margin: 0 75px;}

/* Some com os espaçamentos depois dos cards */
.linha:after {
  content: "";
  display: table;
  clear: both;
}

/* Colunas Responsivas */
@media screen and (max-width: 600px) {
  .coluna {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Estilo dos proprios cards */
.settingsCard {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f6f1f1;
}

.cardTXT {
    text-align: center;
}